/*Colores:

Verde: #00ffbc;
Morado: #af3ce5;
Rojo: #ff2a00;
Naranjo: #FF5D28;
Amarillo: #ffec00;
Blanco: #ffffff;
Negro: #000000;
*/

*{
	color: white;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}

hr{
	border-top: 10px solid #fff;
    width: 250px;
    margin-left: 0px;
}

.navbar {
   background-color: transparent !important;
   background: transparent !important;
   border-color: transparent !important;
   position: fixed;
   width: 1425px;
   z-index: 1000;
}

.navbar li { color: #000; }

.navbar-brand{
	height: 65px;
	margin-left: 40px;
}

.navbar-collapse{
	margin-left: 370px;
}

.nav-link{
	color: white !important;
}

.nav-link:hover{
	border-bottom: 1px solid #FF5D28;
}

.dropdown-toggle{
	background-color: 
	background-color: #FF5D28;
}



/* Index.html */

.primeraSeccion{
	background-image: url(../IMG/back2-min.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 100px;
}

.entradasEnciende{
	margin-top: 60px;
}

.btn-primary, .btn-secondary{
	background-color: #FF5D28;
	border-color: #FF5D28;
	cursor: pointer;
}

.btn-primary{
	margin: 0 auto;
}

.btn-primary:hover, .btn-secondary:hover{
	background-color: #ff8963;
	border-color: #ff8963;
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #ff8963;
    border-color: #ff8963;
}

.segundaSeccion{
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 100px;
}

.numeros{
	font-size: 62px;
}

#logo-segundaSeccion{
	width: 400px;
	margin-top: 115px;
}

.terceraSeccion{
	background-image: url(../IMG/back3-min.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 100px;
	padding-top: 50px;
}

.separador{
	border-top: 10px solid #fff;
    width: 192px;
    margin-left: -15px;
}

.expositores{
	height: 270px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn-expositores{
	margin: 0 auto;
}

/* Expositores.html */

body{
	background-color: #E6E6E6;
}

.header-expositores{
	background-image: url(../IMG/header-expositores.jpg);
	background-size: cover;
	height: 400px;
}

.img-expositor{
	height: 350px;
}

.titulo-expositores{
	position: relative;
    height: 100px;
    top: 150px;
    left: 150px;
    font-size: 60px;
}

.col-expositor{
	background-color: #1B0031;
	padding: 50px;
}

.texto-expositor{
	color: black !important;
	font-size: 15px;
}

.row-expo{
	padding: 40px;
	margin: 20px;
}

.container-jaz, .container-leif, .container-menny, .container-scott{
	background-color: white;
}

/* Información General */

.header-campamento{
	background-image: url(../IMG/header-info-general.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}

#google-map{
	height: 200px;
	width: 500px;
}

.primer-row{
	background-color: white;
	height: 400px;
	padding: 100px;
}

.segundo-row{
	background-image: url(../IMG/IMG_3440.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	padding: 100px;
}

.modal-content{
	width: 1220px;
    height: 500px;
    right: 360px;
}

#programa{
	width: 1188px;
    height: 300px;
}

.tercer-row{
	background-image: url(../IMG/luces.jpg);
	background-size: cover;
	background-position: center;
	height: 650px;
	padding: 50px;
}

.container-overlay {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 350px;
  width: 260px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 260px;
  opacity: 0;
  transition: .5s ease;
  background-color: #1B0031;
}

.container-overlay:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Recursos Enciende 2017 */

.header-recursos{
	background-image: url(../IMG/header-recursos.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
}

.img-recursos{
	width: 300px;
	cursor: pointer;
}

/* ¿Qué es Enciende?*/

.header-que-es{
	background-image: url(../IMG/header-que-es.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	padding: 120px;
}

.container-video1{
	background-color: #783A9D;
	margin: 50px;
	padding: 50px;
	height: 545px;
	width: 900px;
}

.container-video2{
	background-color: white;
	margin: 50px;
	padding: 50px;
	height: 545px;
	width: 900px;
}

.años{
	width: 50px;
    margin: 0px;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    bottom: 445px;
    left: 760px;
}

/*Login*/

.login{
	background-image: url(../IMG/header_login.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	padding: 160px;
}

.input-group{
	margin: 20px;
    width: 350px;
}

/* Footer */

.footer{
	background-image: url(../IMG/back4-min.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
	padding: 100px;
}

.fa{
	cursor: pointer;
}

.logo-roger{
	width: 300px;
}

