@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

.navbar{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 320px;
    background-color: #1B0031 !important;
    background: #1B0031 !important;
   	border-color: #1B0031 !important;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0px;
}

.navbar-brand{
	margin-left: 0px;
}

.navbar-light .navbar-toggler-icon {
    color: white !important;
}

/* Index principal */

.primeraSeccion{
	padding: 50px;
    padding-top: 0px;
    height: 450px;
}

h1, h2, h3, h4, h5, h6{
	font-size: 30px !important;
}

p{
	font-size: 13px !important;
}

hr{
	width: 110px;
}

.segundaSeccion{
	display: none;
}

.terceraSeccion{
	padding: 30px;
    height: 650px;
}

.expositores{
    height: 100px;
}

.btn-expositores{
    width: 230px;
    font-size: 12px;
}

.separador{
	border-top: 6px solid #fff;
    width: 98px;
    margin-left: -13px;
}

#expositores{
	width: 267px;
    height: 112px;
    margin-bottom: 30px;
}

/* Información General */

.titulo-expositores{
	left: 50px;
}

.primer-row{
	height: 765px;
}

.segundo-row{
	display: none !important;
}

.tercer-row{
	height: 1560px;
}

.image{
	height: 275px;
    width: 192px;
}

.overlay{
	height: 275px;
    width: 192px;
}

/* Expositores */

.row-expo{
	padding: 0px;
}

.col-expositor{
    padding: 15px;
}

.img-expositor{
	height: 190px;
}

.container-jaz, .container-leif, .container-menny, .container-scott{
    padding: 20px;
    margin-bottom: 20px;
}

/* ¿Qué es Enciende? */

.header-que-es{
    padding: 0px;
}

iframe{
    width: 290px;
    height: 200px;
    position: relative;
    bottom: 44px;
    right: 44px;
}

.container-video{
    background-color: #1B0031;
    margin: 20px;
    height: 250px;
    width: 300px;
    position: relative;
    right: 10px;
}

.años {
    width: 50px;
    margin: 0px;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    left: 0px;
    bottom: 64px !important;
    font-size: 18px !important;
}

/* Footer */

.footer{
	padding: 60px;
    height: 350px !important;
}

.icono-footer{
    width: 200px !important;
    margin-top: 30px;
}

.logo-roger {
    width: 200px;
    margin-top: 30px;
}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

.navbar{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 375px;
    background-color: #1B0031 !important;
}

#expositores{
	width: 320px;
    height: 130px;
    margin-bottom: 30px;
}

.primeraSeccion{
    height: 450px;
}

.terceraSeccion{
	height: 650px;
}

.img-expositor{
	width: 283px;
    height: 230px;
}

.icono-footer{
    width: 225px !important;
    margin-top: 30px;
}
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 

.navbar{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 414px;
    background-color: #1B0031 !important;
}

}